body {
    background-color: rgb(245, 245, 245);
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;
    font-size: 22px;
    line-height: 54px;
    color: #454545;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(253, 216, 222);
}


main {
    display: flex;
    /* margin-top: 126px; */
    line-height: 54px;
    /*  Lined-paper css styles borrowed and heavily adapted from Emily Gagne article, 
        here: https://codepen.io/ceg9498/post/creating-lined-paper */
    background: repeating-linear-gradient(white, white 50px,#74aac9 51px, #74aac9 53px, white 54px);
}

/* fonts styling */

.navbar-brand {
    font-family: 'Courier', monospace;
    font-weight: 400;
    font-size: 40px;
    color: #454545;
}

.navbar-brand:hover {
    color: #c860ae;
}

a {
    text-decoration: none;
    color: #454545;
}

a:hover {
    color: #c860ae;
}

/* image styles */

.recipe-thumb {
    width: 200px;
    height: auto;
}

/* card styles */

.card {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    background: transparent;
    border: none;
}

.tbc-logo {
    background: none;
    border: none;
    display: block;
    flex-direction: column;
    /* justify-content: center; */
    width: auto;
    margin: 10px auto auto auto;
}

.indexcard {
    min-height: 588px;
    min-width: 1000px;
    padding-top: 11px;
}

/* .recipe-card {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 20px;
    margin: 10px;
} */

.list-group {
    margin: 120px auto 40px auto;
}

.list-group-item {
    margin: 30px auto;
}

header {    
    display: block;
    /*  Lined-paper css styles borrowed and heavily adapted from Emily Gagne article, 
        here: https://codepen.io/ceg9498/post/creating-lined-paper */
    background: linear-gradient(white, white 67px, #faa7e3 68px, #d15da7 69px, #d15da7 71px, white 72px);
    height: 72px;
}

.card-title {
    position: relative;
    left: 10px;
    top: 8px;
    font-size: 30px;
    font-weight: bold;
}

.card-text {
    position: relative;
    top: 30px;
    font-size: 18px;
    margin: 0 20px;
    line-height: 27px;
}

.btn {
    background: none;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 22px;
    font-weight: 600;
    height: 24px;
}

.tbc-search input {
    display: block;
    margin: auto;
    border: none;
}

.search-input {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

input {
    text-align: center;
    line-height: 54px;
    padding-top: 12px;
    background: none;
}