/* ============================== Variables =============================== */
:root {
    
    --tbc-text-font: 'Noto Sans Mono', monospace;
    --tbc-bg-light: #f8f8f8;
    --tbc-bg-light-clr: #f8f8f888;
    --tbc-bg-pinky: #fceeee;
    --tbc-bg-pinkish: #fffafa;
    --tbc-text-dark: #454545;
    --tbc-dark-grey: #424242;
    --tbc-pale-pink: #fadde3cf;
    --tbc-soft-pink: #f592a3;
    --tbc-rich-pink: #ec4c9c;
    --tbc-soft-blue: #6396b4;
    --tbc-inky-blue: #0e5781;
    --tbc-bg-light: #f8f8f8;
    --tbc-rich-red: #d10000;
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ============================== Body Styling =============================== */

body {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;
    font-size: 22px;
    color: var(--tbc-text-dark);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

#tbc-header {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 188px;
    justify-content: center;
}

#page-content {
    position: relative;
    margin-top: 270px;
    min-height: calc(100vh - 180px);
}

/* ============================== Links Styling =============================== */

a {
    color: var(--tbc-dark-grey);
    text-decoration: none;
}

a:hover {
    color: var(--tbc-rich-pink);
}

#tbc-logo:hover {
    color: var(--tbc-dark-grey);
    font-weight: 500;
}

#tbc-logo:hover #served-hot-hover {
    color: var(--tbc-rich-pink);
    transition: 100ms ease;
    font-weight: 500;
}

.tbc-logo-caption {
    font-size: 1.4em;
    margin: 0px auto 33px auto;
}

.tbc-links {
    font-size: 12px;
    text-align: center;
    padding: 8px;
    font-size: .58em;
    width: 100%;
}

.social-links a {
    margin-left: 11px;
}

.recipe-link {
    padding-top: .5em;
    text-align: center;
    font-size: .84em;
}

.recipe-link-wrap:hover img {
    filter: brightness(95%);
}

/* ============================== Fonts Styling =============================== */

#tbc-logo {
    text-align: center;
}

#tbc-logo h1 {
    font-size: 27px;
    text-align: center;
}

.tbc-logo-caption {
    font-size: 19.2px;
    margin-top: -.3em;
}

.tbc-nav-item {
    color: var(--tbc-soft-pink);
}

.pink-text {
    color: var(--tbc-rich-pink);
    font-weight: 400;
}

.blue-text {
    color: var(--tbc-soft-blue);
}

.red-text {
    color: var(--tbc-rich-red);
}

.page-title {
    margin: .8rem auto 1.2rem auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--tbc-soft-blue);
    color: var(--tbc-soft-pink);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .9em !important;
}

.login-page-msg {
    text-align: center;
    line-height: 54px;
}

.tbc-input-label h4 {
    text-align: center;
}

.tbc-input {
    font-size: 16px;
    margin: .8em auto 1.3em auto;
}

.add-edit-recipe p,
.add-recipe-row p {
    font-size: .95em;
}

p.text-prompt {
    font-size: .7em;
    text-align: center;
    line-height: 1.8em;
}

@media (min-width: 330px) {
    #tbc-logo h1 {
        font-size: 29.7px;
    }
    
    .tbc-logo-caption {
        font-size: 21.12px;
        margin-top: -.2rem;
    }
}

@media (min-width: 380px) {
    #tbc-logo h1 {
        font-size: 32.67px;
    }
    
    .tbc-logo-caption {
        font-size: 23.23px;
    }
}

/* ============================== Header & Navigation Styling =============================== */

#tbc-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 14rem;
    justify-content: center;
    align-content: space-between;
    z-index: 20;
    height: 188px;
    background-color: var(--tbc-bg-light);
}

#nav-wrap {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    width: 100%;
    height: 188px;
}

#navlinks-sm {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    right: 0;
    top: 188px;
    height: 100vh;
    padding: 11em 0 2em 0;
    align-items: space-evenly;
    animation: introLoad 400ms forwards;
    background-color: var(--tbc-bg-pinky);
}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

#navlinks-sm a {
    font-size: 1.33em;
}

#nav-trigger {
    font-size: 1.5em;
    background: none;
    border: none;
    margin: -2px 24px auto auto;
}

/* .tbc-mobile-nav {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    justify-items: space-evenly;
    align-items: center;
    z-index: 66;
} */

.tbc-mobile-nav li,
.tbc-desktop-nav li {
    text-align: center;
    z-index: 1;
}

.tbc-mobile-nav li {
    font-size: 1.2rem;
    padding: 2rem 0 2rem 0;   
}

.tbc-desktop-nav li {
    font-size: 1.6rem;
    font-weight: 300;
}

#logo-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    padding-top: 40px;
    margin: 2.4rem auto 1rem auto;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}

#search-and-social-nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    bottom: 10px;
    top: .2em;
    width: 100%;
    height: 44px;
    justify-content: space-between;
    z-index: 11;
    max-width: 1124px;
    margin: 0 auto;
    padding: 0;
}

#social-mobile {
    position: absolute;
    bottom: 1em;
    left: 0;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 100vw;
    background: none;
    padding: 2em 0 1em 0;
}

#social-mobile ul li {
    padding: 0 !important;
}

#social-mobile ul {
    padding: 0;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tbc-search-form {
    display: flex;
    position: absolute;
    top: -8px;
    left: 0px;
    font-size: 22px;
    z-index: 11;
    padding: 0;
}

.input-search {
    padding-top: 10px;
}

.input-search input {
    font-size: .7em;
    background: none;
    border: none;
    height: 44px;
    padding: 0 18px 0 0;
}

input.tbc-search-input:focus {
    outline-width: 0;
    background-color: var(--tbc-bg-pinky);
}

.input-search input:hover {
    background-color: var(--tbc-bg-pinky);
}

.input-search input:active {
    background-color: var(--tbc-bg-pinky);
}

.input-search input:hover::placeholder {
    color: var(--tbc-soft-pink) !important;
}

#tbc-search,
#tbc-search-hover {
    transition: 300ms ease-in-out;
    margin: 0 auto auto -28px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin-right: 28px;
    margin-top: 14px;
}

.social-links li {
    padding-left: .5em;
}

/* ============================== Forms Styling =============================== */

.add-recipe-row {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    margin: 0 auto 54px auto;
    padding: 0;
    justify-content: center;
    scrollbar-gutter: 0;
}

.add-recipe-row div {
    padding: 10px 14px 10px 10px;
}

#food-delivery > textarea:placeholder-shown,
#recipe-directions-section > textarea:placeholder-shown {
    background-color:var(--tbc-bg-pinky);
    align-content: center;
        /* line-height: 38px; */
        line-height: 54px;
}

.tbc-input-label {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    margin: auto;
    font-size: .8em;
    font-weight: 300;
    color: var(--tbc-dark-grey);
    margin: auto;
}

input,
textarea {
    display: flex;
    justify-self: center;
    text-align: center;
    line-height: 54px;
    height: 33px;
    padding: 0;
    margin: auto;
    width: 100%;
}

select > option > #pink-span > strong {
    color: var(--tbc-rich-pink) !important;
}

.ingredient-list,
.recipe-directions {
    background: repeating-linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245) 25px, #74aac9 25.5px, #74aac9 26.5px, rgb(245, 245, 245) 27px);
    /* background: repeating-linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245) 50px,#74aac9 51px, #74aac9 53px, rgb(245, 245, 245) 54px); */
    height: 78px;
    align-content: flex-start;
    font-size: 11.2px;
    text-align: left;
    overflow-y: hidden;
    width: 100%;
    color: var(--tbc-soft-blue);
}

.ingredient-list {
    height: 54px;
}

.form-control {
    color: var(--tbc-soft-blue);
}

li::marker {
    color: var(--tbc-soft-blue);
    color: var(--tbc-rich-pink);
}

option {
    text-align: center;
    justify-content: center;
    height: 54px;
}

.flash-message {    
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color:rgba(247, 228, 228, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.flash-message h5 {
    color: var(--tbc-dark-grey);
    background-color: var(--tbc-bg-light);
    margin: auto auto;
    padding: 6em;
    text-align: center;
}

.closebtn {
    font-size: 1rem;
}

/* =========================== Button & Inputs etc =========================== */

#nav-trigger:hover i {
    color: var(--tbc-rich-pink);
}

.btn-row,
.btn-col {
    display: flex;
    width: 100%;
    margin: .4em auto;
    left: 0;
    justify-content: center;
}

.btn-row {
    flex-direction: row;
}

.btn-col {
    flex-direction: column;
}

.btn,
.modal-footer #delete_recipe {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    font-size: 11px;
    margin: 0 auto;
    min-width: 180px;
    max-width: 30%;
    color: --tbc-soft-pink !important;
    background-color: var(--tbc-bg-pinky);
    border: .9px solid var(--tbc-soft-pink);
}

.btn-row {
    display: flex;
    flex: row;
    margin: 0 auto;
    width: 100%;
    max-width: 50vw;
    justify-content: space-evenly;
}

.tbc-button,
a.tbc-button {
    display: inline-block;
    padding: 0.38em 1.2em;
    border: 0.08em solid var(--tbc-pale-pink);
    margin: 0 auto 0.6em auto;
    border-radius: 0.18em;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.2s;
    justify-content: center;
    width: 60%;
    max-width: 220px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--tbc-dark-grey);
    background-color: var(--tbc-bg-pinky);
}

.tbc-button:hover,
#delete_recipe:hover,
.modal-footer a {
    color: var(--tbc-dark-grey);
    background-color: #f8f8f8;
}

/* ============================== Homepage Styling =============================== */

#hero-sm {
    display: grid;
    position: fixed;
    min-height: 100vh;
    width: auto;
    top: 0;
    left: 0;
    z-index: -22;
}

#hero-lg {
    position: fixed;
    top: -50%;
    z-index: -2;
}

.tbc-hero {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(216, 216, 216, 0.93), rgba(250, 250, 250, 0.94)), url('    https://images.pexels.com/photos/4110541/pexels-photo-4110541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position-x: 60%;
    background-position-y: 90%;
    width: 110%;
    height: 110vh;
    z-index: -10;
}

@media (min-width: 1080px) {
    .tbc-hero {
        background-position-y: 80%;
    }
}

@media (min-width: 1330px) {
    .tbc-hero {
        background-position-y: 40%;
    }
}

/* ============================== Layout Styling =============================== */

#page-content {
    margin: 200px auto 0 auto;
    padding: 0;
    background-color: var(--tbc-bg-light-clr);
}

.recipe-row,
.cat-row {
    margin: 1em auto;
    padding: 0;
}

.recipe-link-wrap {
    margin: 1em auto 1em auto;
    padding: 0 .3em 0 .3em;
    /* background-color: var(--tbc-bg-light); */
}

/* ============================== Recipe Styling =============================== */

.card {
    background-color: var(--tbc-bg-pinkish);
    max-width: 950px;
    max-width: 1100px;
    padding: 0;
}

#recipe-wrap {
    left: 0;
    justify-content: center;
}

#recipe-wrap {
    padding-bottom: 1.5em;
    margin: 200px auto auto auto;
    width: 100%;
    justify-content: center;    
}

.recipe-card-header {   
    display: flex;
    flex-direction: row;
    height: 54px;
    justify-content: space-between;
    padding-right: 6vw;
    /*  Lined-paper css styles borrowed from Emily Gagne article, then adapted for
        own use:  https://codepen.io/ceg9498/post/creating-lined-paper */
    background: linear-gradient(rgb(245, 245, 245),rgb(245, 245, 245) 50px, #faa7e3 50.5px, #d15da7 51px, #d15da7 52px, rgb(245, 245, 245) 52.5px, rgb(245, 245, 245) 70.5px);
    align-items: center;
}

.recipe-card-header h4 {
    color: var(--tbc-inky-blue);
    font-size: 1rem;
    margin: auto auto auto 1.5em;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    /*  Lined-paper css styles borrowed from Emily Gagne article, then adapted for
        own use:  https://codepen.io/ceg9498/post/creating-lined-paper */
    background: repeating-linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245) 25px, #74aac9 25.5px, #74aac9 26.5px, rgb(245, 245, 245) 27px);
}

.recipe-card > * {
    font-size: 14px;
    line-height: 27px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 2em;
}

.recipe-card-header,
.recipe-card {
    width: 88%;
    max-width: 1100px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.06), 
                0 4px 2px rgba(0,0,0,0.06), 
                0 8px 4px rgba(0,0,0,0.06), 
                0 16px 8px rgba(0,0,0,0.06),
                0 32px 16px rgba(0,0,0,0.06),
                0 64px 32px rgba(0,0,0,0.06);
}

.recipe-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-ingredients li,
.view-directions li {
    list-style-type: disc;
}

.recipe-button-row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 44px auto 44px auto;
}

/* ======================= Add / Edit Recipe Pages ============================== */

.add-edit-recipe {
    margin: 8rem auto 3rem auto;
}

/* ==================== Login / Register / Profile Pages ======================= */

.card-login,
.card-register {
    z-index: 4;
    display: flex;
    line-height: 54px;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
    margin: 182px auto auto auto;
}

.profile-nav {
    width: 50vw;
}

#profile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.profile-content {
    justify-content: center;
    margin: auto;
    padding: 0;
    margin: 1.1rem auto 1.3rem auto;
    font-size: .7em;
    line-height: 1.9em;
    text-align: center;
}

.profile-content > h4 {
    font-size: 1.2em;
    color: var(--tbc-inky-blue);
}

#login-msg {
    display: none;
}

.login-form,
.register-form {
    margin-top: 2rem;
}

/* ============================== Image Styling =============================== */

.recipe-thumb {
    display: flex;
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    margin: 0;
    /* padding: .3em; */
    padding: 0;
}

.recipe-img-wrap img {
    display: flex;
    max-width: 40vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.thumb-wrap {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: var(--tbc-bg-light);
    padding: 0;
}

.view-recipe-img {
    width: 100%;
    height: auto;
    display: flex;
    margin: -40px auto 0 auto;
    border: 12px solid rgb(245, 245, 245);
}

.view-recipe-img-wrap {
    margin-top: 1em;
}

.view-recipe-img-wrap img {
    display: flex;
    width: 33vw;
    max-width: 470px;
    aspect-ratio: 5 / 7;
    object-fit: cover;
}

#page-content > img {
    max-width: 200px !important;
}

#icon-wrap {
    display: inline-flex;
    justify-content: center;
    margin: auto;
    background: transparent;
    border: none;
}

#icon-wrap img {
    height: 1em;
    width: auto;
    margin-top: 9px;
    margin-left: -34px;
}

#tbc-search,
#tbc-search-hover {
    width: 30px;
    z-index: 99;
    transition: .35s ease-in;
}

#tbc-search-hover {
    display: none;
}

/* ============================= Modal Styling =============================== */

.modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    margin: auto;
    top: 40%;
}

.modal-header,
.modal-footer {
    background-color: var(--tbc-bg-pinky);
}

.modal-content,
.modal-footer button {
    background-color: var(--tbc-bg-light);
}

.modal-footer button {
    margin: 0 auto;
}

.modal p {
    font-size: 16px !important;
    padding: 0 .6em;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ============================= Error handlers =============================== */

.error-wrap {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f592a3db;
    justify-content: center;
    align-content: center;
    z-index: 1000;
}

.error-wrap.children {
    margin: 2rem auto;
}

/* ============================== Media Queries =============================== */

/* ----- Catering to bakers on old tech (iphone4 etc) ----- */

@media (max-width: 360px) {

    body {
        width: 100%;
    }

    .row {
        width: 100%;
        justify-content: space-evenly;
        margin: 0 auto .4rem auto;
    }

    #tbc-nav {
        height: 140px;
    }

    #logo-wrap {
        margin: 1.6rem auto 1.1rem auto;
        padding-right: 10px;
    }

    #navlinks-sm {
        position: fixed;
        top: 140px;
        padding: 0;
        z-index: 44;
    }

    .tbc-mobile-nav li {
        font-size: .8rem;
        padding: 2.2rem 0;
    }

    #page-content {
        margin-top: 106px;
        min-height: 100vh;
    }

    .form-control,
    .btn {
        font-size: small;
        padding: auto 0;
    }

    .add-edit-recipe label,
    .add-recipe-row h4,
    .add-recipe-row p,
    .add-edit-recipe p,
    .add-recipe-row input {
        font-size: small;
    }

    .tbc-input-label {
        font-size: .6em;
        color: var(--tbc-soft-pink);
    }

    .tbc-button, a.tbc-button {
        height: fit-content;
    }

    input.tbc-search-input {
        font-size: .6em;
    }
    
    i.blue-text,
    #tbc-search {
        font-size: .8em;
    }

    .page-title {
        margin: 1rem auto;
        font-size: 16px;
    }

    .recipe-thumb {
        max-width: 120px;
        margin: 0 auto;
    }

    .tbc-links {
        font-size: 11px;
    }

    input,
    textarea {
        line-height: 44px;
        height: 27px;
    }
}

@media (min-width: 361px) and (max-width: 380px) {
    #page-content {
        margin-top: 155px;
    }

    #tbc-nav {
        width: 104vw;
    }
    
    #navlinks-sm {
        padding: 0;
    }

    .tbc-mobile-nav li {
        padding: 4rem 0 4rem 0;
        font-size: .95rem;
    }

    button {
        max-width: 204px !important;
    }
}

@media (min-width: 380px) {
    #navlinks-sm {
        padding-top: 7rem;
    }

    .tbc-mobile-nav li {
        font-size: 1rem;
        padding: 4rem 0 4rem 0;
    }

    .row {
        padding: 0 1.3rem 0 1.3rem;
    }
}

@media (min-width: 480px) {

    .input-search {
        padding-top: 10px;
    }

    #page-content {
        margin-top: 196px;
    }

    #logo-wrap {
        margin: .4rem auto 1rem auto;
    }

    #tbc-search-form {
        display: flex;
        position: absolute;
        top: 128.5px;
        left: 4px;
        font-size: 22px;
    }

    #nav-trigger {
        margin: 134px 24px auto auto;
    }

    .profile-content {
        margin: 3rem auto 2rem auto;
        font-size: 1em;
        line-height: 1.9em;
    }

    p.text-prompt {
        text-align: center;
        font-size: .8em;
        line-height: 1.8em;
    }

    #login-msg,
    #register-msg {
        display: inline-block;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {

    /* ==== @media 992px> fonts ==== */

    #tbc-logo h1 {
        font-size: 2em;
        margin-top: 12px;
    }
    
    .tbc-logo-caption {
        font-size: 1.4em;
        margin: 0px auto 33px auto;
    }

    .tbc-links {
        font-size: 15px;
    }

    /* ==== @media 992px> : Navigation ==== */

    #tbc-nav {
        height: 266px;
    }

    #nav-wrap {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: flex-end;
        padding: 0 1.2rem 0 1.2rem;
    }

    #logo-wrap {
        width: 100vw;
        height: 160px;
        margin: 1.4rem auto auto auto !important;
    }
    
    .tbc-desktop-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1080px;
        padding: 0;
        justify-content: space-between;
    }

    .tbc-nav-item {
        font-size: .9em;
    }

    .tbc-desktop-nav li {
        margin-top: 0;
    }

    #search-and-social-nav {
        align-self: flex-start;
        width: 100%;
        margin: -222px auto 0 auto;
        position: unset;
    }

    #tbc-search-form {
        display: unset;
        position: unset;
        top: unset;
        left: unset;
    }

    .social-links a {
        display: block;
    }

    .btn,
    .modal-footer #delete_recipe {
        font-size: .9em;
        font-weight: 400;
        height: 54px;
        margin: 1em auto;
        padding: .2rem 1rem;
        width: 100%;
    }

    /* ==== @media 992px> : layout etc ==== */

    #page-content {
        margin-top: 270px;
    }

    .row {
        padding: 0 1.2em 0 1.2em;
    }

    .recipe-row {
        max-width: 1198px;
    }

    .cat-row {
        max-width: 1172px;
    }

    .recipe-link-wrap {
        margin: 1em auto 1em auto;
        padding: 0 .2em 0 .2em;
    }

    .recipe-card-header {   
        display: flex;
        flex-direction: row;
        height: 108px;
        background: linear-gradient(rgb(245, 245, 245),rgb(245, 245, 245) 100px, #faa7e3 101px, #d15da7 102px, #d15da7 104px, rgb(245, 245, 245) 105px, rgb(245, 245, 245) 141px);
        align-items: center;
    }
    
    .recipe-card-header h4 {
        font-size: 1.2em;
        padding-top: .2em;
        margin-left: 3em;
    }

    .recipe-card {
        background: repeating-linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245) 50px,#74aac9 51px, #74aac9 53px, rgb(245, 245, 245) 54px);
    }

    .recipe-card > * {
        font-size: 1em;
        line-height: 54px;
        margin-left: 5rem;
        margin-right: 7rem;
    }

    .view-recipe-img {
        margin: 3em auto 0 auto;
    }

    .recipe-img {
        max-width: 473px;
        margin: 1em auto;
    }

    .profile-content {
        margin: 4rem auto 2rem auto;
        font-size: .9em;
        line-height: 1.9em;
    }

    .thumb-wrap {
        margin: 0 auto;
        padding: 0;
    }

    .recipe-thumb {
        padding: 1em;
        margin-bottom: .3em;
    }
}

@media (min-width: 1400px) {
    #search-and-social-nav {
        max-width: 1128px;
    }
}
