{% extends "base.html" %}
{% block content %}

<div class="error-wrap text-center">
    <div class="row">
        <div class="col-12 mx-auto">
            <h2 class="text-blue text-center">500 - Page not found </h2>
            <h4 class="text-pink">  Sorry, something went awry - but nevermind, <br>
                                    let's get back to the kitchen.</h4>
        </div>
    </div>
    <a class="btn container-fluid" href="{{ url_for('index')}}">Let's Bake</a>
</div>

{% endblock %}