{% extends "base.html" %}
{% block content %}

<div class="error-wrap container-lg">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="text-center">500 - Page not found</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <h5 class="text-center">Hmmmm, donut how this happened..</h5>
        </div>
    <div class="row">
        <div class="col-12">
            <a class="btn mx-auto" href="{{ url_for('index')}}">>>> Back to Baking >>></a>
        </div>
    </div>
</div>

{% endblock %}