{% extends "base.html" %}
{% block content %}

<div class="row">
    <form action="" method="POST" class="col col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Please add a recipe name" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">OK</button>
            </div>
          </div>
    </form>
</div>

{% endblock %}