{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col col-md-8">
        <h4>{{ category.category_name }}</h4>
        <div class="row">
            {% for category in categories %}
            <div class="card-image col-md-5">
                <img src="{{ recipe.image_url }}" class="recipe-img" alt="Image of {{ recipe.recipe_name }}">
            </div>
            <div class="recipe-wrap col-md-7">
                <h4>{{ category.category_name }}</h4>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for recipe in recipes %}
            <div class="card-image col-md-5">
                <img src="{{ recipe.image_url }}" class="recipe-img" alt="Image of {{ recipe.recipe_name }}">
            </div>
            <div class="recipe-wrap col-md-7">
                <h4>{{ recipe.recipe_name }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}