{% extends "base.html" %}
{% block content %}

<div class="page-content row">
    {% for recipe in recipes %}
    <div class="card-image col col-md-3 mx-auto justify-items-center">
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
            <span>
                <img src="{{ recipe.image_url }}" class="card-image" alt="{{ recipe.recipe_name }}">
                <h4>{{ recipe.recipe_name }}</h4>
            </span>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
