{% extends "base.html" %}
{% block content %}

<div class="row recipe-row px-lg-5">
        {% for category in categories %}
        <div class="recipe-link col-4 col-lg-2 p-lg-0">
            <a href="{{ url_for('get_category', category_id=category._id) }}" class="recipe-link-wrap">
                <img src="{{ category.category_img }}" class="recipe-thumb" alt="{{ category.category_name.title }}">
                    <h4 class="tbc-links">{{ category.category_name }}</h4>
            </a>
        </div>
        {% endfor %}
</div>

{% endblock %}