{% extends "base.html" %}
{% block content %}

<div class="container-lg">
    {% for recipe in recipes %}
    <div class="row justify-content-center">
        <div class="col-12">
            <a class="recipe-thumb" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                <img src="{{ recipe.image_url }}" class="img-fluid" alt="{{ recipe.recipe_name }}">
            </a>
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                <h4 class="mx-auto blue-text">{{ recipe.recipe_name|capitalize }}</h4>
            </a>
        </div>
        <div class="col-10 col-md-6 mx-auto">s
            <!-- <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                <h4 class="mx-auto blue-text">{{ recipe.recipe_name|capitalize }}</h4>
            </a> -->
            <p class="recipe-directions">{{ recipe.recipe_description }}</p>
        </div>
    </div>
    {% endfor %}
</row>

{% endblock %}
