{% extends "base.html" %}
{% block content %}
<div class="row page-content-home justify-content-center">
    <div class="d-none d-lg-flex col-lg-12">
        <p style="text-align:center"><br><br><br>
            We believe baking is best when shared.
            <br>
            Discover recipes from the community and
            <br>
            maybe share some of your own.
            <br><br>
        </p>
    </div>
    <div class="col-11 mx-auto d-flex d-lg-none">
        <p style="text-align:center"><br><br><br><br><br><br>
            We believe baking is best when shared.
            Discover recipes from the community and
            maybe share some of your own.
            <br><br>
        </p>
    </div>
</div>

<div class="row mx-auto tbc-cat-links tbc-10 home-link-wrap">
    <a href="{{ url_for('category', categories='bread') }}" class="col-10 col-lg-4">
        <img src="{{ url_for('static', filename='images/bread-default.png') }}" class="img-fluid recipe-thumb" alt="sourdough">
        <span>
            <h4 class="tbc-links">Bread</h4>
        </span>
    </a>
    <a href="{{ url_for('category', categories='pizza') }}" class="col-10 col-lg-4">
        <img src="{{ url_for('static', filename='images/pizza.jpg') }}" class="img-fluid recipe-thumb" alt="pizza">
        <span>
            <h4 class="tbc-links">Pizza</h4>
        </span>
    </a>
    <a href="{{ url_for('category', categories='muffins') }}" class="col-10 col-lg-4">
        <img src="{{ url_for('static', filename='images/cake.jpeg') }}" class="img-fluid recipe-thumb" alt="cake">
        <span>
            <h4 class="tbc-links">Cake</h4>
        </span>
    </a>
    <a href="{{ url_for('category', categories='cakes') }}" class="col-10 col-lg-4">
        <img src="{{ url_for('static', filename='images/scones.png') }}" class="img-fluid recipe-thumb" alt="scones">
        <span>
            <h4 class="tbc-links">Scones</h4>
        </span>
    </a>
    <a href="{{ url_for('category', categories='cookies') }}" class="col-10 col-lg-4">
        <img src="{{ url_for('static', filename='images/muffins.jpeg') }}" class="img-fluid recipe-thumb" alt="muffins">
        <span>
            <h4 class="tbc-links">Muffins</h4>
        </span>
    </a>
    <a href="{{ url_for('category', categories='scones') }}" class="col-10 col-lg-4">
        <img src="{{ url_for('static', filename='images/cookie.jpeg') }}" class="img-fluid recipe-thumb" alt="cookies">
        <span>
            <h4 class="tbc-links">Cookies</h4>
        </span>
    </a>
</div>

{% endblock %}