{% extends "base.html" %}
{% block content %}

<div class="d-md-flex row" style="z-index:100">
    
    <div class="col-11 col-md-9 mx-auto d-flex">
        <div class="card">
            <div class="recipe-thumb">
                <img    src="static/images/bread-default.png" 
                        class="card-img"
                        alt="bread slice" />
            </div>
            <div class="card-body">
                <div class="header">
                    <h3>Tasty Cookies</h3>
                </div>
                <div>
                    <p>
                        recipe deets
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}