{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('search') }}" method="post" class="col-10">
    <div class="input-field">
        <input type="text" name="query" id="query" minlength="3" class="validate" required>
        <button type="submit" class="btn">
            Search
        </button>
    </div>
</form>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a href="{{ url_for('get_recipes') }}" class="navlink">View all Recipes</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('search') }}" class="navlink">Search Recipes</a>
    </li>
</ul>

{% endblock %}