{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-3">
    <form class="login-form" method="POST" action="{{ url_for('login') }}">
        <div class="row justify-content-center">
            <h5 class="page-title">Sign in</h5>
            <div class="col-9 col-lg-6 my-4">
                <label for="username" class="tbc-input-label">Username</label>
                <!-- Username Input -->
                <input id="username" 
                    name="username"
                    type="text"
                    minlength="6" 
                    maxlength="15" 
                    class="validate tbc-input" 
                    autocomplete="on"
                    placeholder="Username"
                    title="Please enter your username"
                    required>
                <label for="password" class="tbc-input-label">Password</label>
                <!-- Password Input -->
                <input id="password"
                    name="password"
                    type="password"
                    minlength="6"
                    maxlength="15"
                    class="validate tbc-input"
                    autocomplete="on"
                    placeholder="Password"
                    required>
            </div>
        </div>
        <!-- Confirm Login Button -->
        <div class="row my-3 my-md-4">
            <button type="submit" class="tbc-button mx-auto">
                Sign in
            </button>
        </div>
    </form>
</div>
<div class="row justify-content-center my-2">
    <div class="col-11 col-md-8 col-lg-6 d-none d-md-block">
        <h5 class="page-title pb-3">
            Not a member?
        </h5>
        <p id="login-msg" class="text-prompt mb-3">
            Register now to begin sharing your favourite&nbsp;recipes&nbsp;with&nbsp;other&nbsp;users.
        </p>
    </div>
    <div class="row my-3 my-md-4">
        <a href="{{ url_for('register') }}" class="tbc-button mx-auto">
            Register
        </a>
    </div>
</div>
       
{% endblock %}