{% extends "base.html" %}
{% block content %}

<div class="row profile-content">
    <h4 class="blue-text">Welcome {{ username.capitalize() }}</h4>
    <div class="col-11 col-md-7 col-lg-5 mx-auto">
        {% if recipes|length > 0 %}
            <p class="text-center">
                Recipes you have shared are displayed below.
                To add another recipe click below
            </p>
            <button class="btn">
                <a href="{{ url_for('add_recipe') }}" class="submit my-auto">
                    Add Recipe
                </a>
            </button>
        {% else %}
            <p class="text-center"> 
                We see you have not uploaded any recipes.
                <br>
                To share a recipe 
                <br>
                <span><a href="{{ url_for('add_recipe') }}" class="inline-link"><strong>Add Recipe</strong></a></span>
            </p><br>
        {% endif %}
    </div>
</div>
<div class="row">
    {% for recipe in recipes %}
    <!-- Will display any recipes contributed by current user -->
    {% if session.user|lower == recipe.created_by|lower %}
    <!-- <div class="col-10 col-md-5 col-lg-4 mx-auto"> -->
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="col-10 col-md-6 mx-auto">
            <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}" class="img-fluid recipe-thumb">
            <h4 class="tbc-links">{{ recipe.recipe_name }}</h4>
        </a>
    <!-- </div> -->
    {% endif %}
    {% endfor %}
</div>

{% endblock %}