{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row page-content">
        <div class="col-5">
            <a href="{{ url_for('add_recipe') }}" class="btn" style="width:300px"><h4 class="blue-text text-center">Add a New Recipe</h4></a><br>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-10 col-md-5">
            <h4 class="text-center">Welcome {{ username.capitalize() }}</h4>
            <br>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-10 col-md-6">
            {% if recipes|length > 0 %}
                <p class="text-center">Recipes that you have shared are displayed below.</p>
            {% else %}
                <p class="text-center"> 
                    We see you have not uploaded any recipes.
                    To share a recipe click the link below.
                </p><br>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <!-- Will display any recipes contributed by current user -->
        {% if session.user|lower == recipe.created_by|lower %}
        <div class="col-10 col-md-5 col-lg-4 mx-auto">
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}" class="img-fluid recipe-thumb">
                <h4 class="tbc-links">{{ recipe.recipe_name }}</h4>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}