{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row mx-auto page-content">
        <div class="col-10 col-md-5">
            <h4 class="text-center">Hello {{ username.capitalize() }}</h4>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-10 col-md-6">
            {% if recipes|length > 0 %}
                <p class="text-center">
                    Recipes you have shared are displayed below.
                    <br>
                    To add another recipe <span><a href="{{ url_for('add_recipe') }}" class="blue-text"><strong>click here</strong></a></span>
                </p>
                <br>
            {% else %}
                <p class="text-center"> 
                    We see you have not uploaded any recipes.
                    To share a recipe <span><a href="{{ url_for('add_recipe') }}" class="blue-text"><strong>click here</strong></a></span>
                </p><br>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <!-- Will display any recipes contributed by current user -->
        {% if session.user|lower == recipe.created_by|lower %}
        <div class="col-10 col-md-5 col-lg-4 mx-auto">
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}" class="img-fluid recipe-thumb">
                <h4 class="tbc-links">{{ recipe.recipe_name }}</h4>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}