{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    {% for recipe in recipes %}
    <div class="col-11 col-md-6 col-lg-4 mx-auto p-3">
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="recipe-link-wrap">
            <img src="{{recipe.image_url}}" class="recipe-thumb mb-2" alt="{{recipe.recipe_name}}">
            <h4 class="tbc-links">{{ recipe.recipe_name.title() }}</h4>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}