{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mx-auto p-0 my-md-2 my-lg-5 pt-lg-5">
    {% for recipe in recipes %}
    <div class="col-11 col-md-5 col-lg-4 px-3 px-md-3 px-lg-5 mx-auto my-5">
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="recipe-link-wrap">
            <img src="{{recipe.image_url}}" class="recipe-thumb mb-2" alt="{{recipe.recipe_name}}">
            <h4 class="tbc-links">{{ recipe.recipe_name.title() }}</h4>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}