{% extends "base.html" %}
{% block content %}

<div class="container-lg page-content">
    {% for recipe in recipes %}
    <div class="row">
        <div class="search-wrapper col-10 col-lg-6">
            <a class="recipe-thumb" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                <img src="{{ recipe.image_url }}" class="img-fluid" alt="{{ recipe.recipe_name }}">
            </a>
        </div>
        <div class="col-lg-6">
            <h4 class="mx-auto blue-text">{{ recipe.recipe_name|capitalize }}</h4>
            <br>
            <p class="mx-auto">{{ recipe.recipe_description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}