{% extends "base.html" %}
{% block content %}

<div class="row pb-4 recipe-list justify-items-center page-content">
    {% for recipe in recipes %}
        <div class="recipe-wrap recipe-bg mx-auto col-10 col-lg-6 px-3">
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                <img src="{{recipe.image_url}}" class="recipe-thumb mb-4" alt="{{recipe.recipe_name}}">
                <h4 class="text-center">{{ recipe.recipe_name.title() }}</h4>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}