{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-10 col-md-8 mx-auto">
        <h4 class="text-center my-5">{{ recipe.recipe_name|title }}</h4>
        <div class="recipe-img-wrap col-11 col-8 mx-auto">
            <img src="{{ recipe.image_url }}" class="view-recipe-img" alt="{{ recipe.recipe_name }}">
        </div>
    </div>
</div>
  
<div class="row mt-5">
    <div class="col-12 col-md-8 mx-auto recipe-card">
        <h4 class="mx-5 my-4">Ingredients</h4>
        <ul class="recipe-directions pb-3">
            {% for ingredient in recipe.ingredients %}
            <li class="mx-3 mb-3">{{ ingredient }}</li>
            {% endfor %}
        </ul>
        <h4 class="mx-5 my-4">
            Directions
        </h4>
        <ul class="recipe-directions">
            {% for direction in recipe.directions %}
            <li class="mx-3 mb-3">{{ direction }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if (session.user|lower == recipe.created_by|lower) or (session.user == "admin") %}

    <button class="btn">
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="submit btn">
            Edit Recipe
        </a>
    </button>

    <!-- Delete Recipe Modal Trigger -->
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#confirmRecipeDeletionModal" style="margin: 2em;">
        <a href="#delete_recipe">
            Delete Recipe
        </a>
    </button>

{% endif %}

<!-- Delete Recipe Confirmation Modal -->
<div class="modal fade" id="confirmRecipeDeletionModal" tabindex="-1" aria-labelledby="deleteRecipe" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" 
                    id="confirmRecipeDeletionModal">
                    Confirm Deletion
                </h5>
                <button type="button"
                        class="btn-close" 
                        data-bs-dismiss="modal" 
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to permanently delete this recipe?</p>
            </div>
            <div class="modal-footer">
                <button type="button" 
                        class="btn-close" 
                        data-bs-dismiss="modal">
                        Cancel
                </button>
                <button type="button" class="btn">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" id="delete_recipe">
                            Yes, Delete
                        </a>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}