{% extends "base.html" %}
{% block content %}

<div class="recipe-row recipe-list row">
    <h4>{{ category.category_name }}</h4>
    <div class="recipe-wrap col-3 card-image">
        <a href="{{ url_for('view_category', category_id=category._id) }}">
            <span>
                {% for recipe in recipes %}
                <img src="{{ recipe.image_url }}" class="card-image" alt="image of {{ recipe.recipe_name }}">
                {% endfor %}
                <h4>{{ category.category_name }}</h4>
            </span>
        </a>
    </div>
    {% for recipe in recipes %}
        <div class="col">
            <div class="card-image">
                <a href="#">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                        <img src="{{ recipe.image_url }}" class="responsive-image home-page-image" alt="pizza-image">
                    </a>
                </a>
                <div>
                    <h4>{{ recipe.recipe_name }}</h4>
                    <p>{{ recipe.recipe_description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock %}